 .product-dialog {
  height: 100%;
  padding-bottom: 8.3rem;
}

.product-dialog__img,
.product-dialog__img img {
  height: 100%;
  width: auto;
  text-align: center;
}

.product-dialog__content {
  padding: 0.4rem 0 1.5rem;
}

/* TODO: Move to own element Math Buttons */
.math-button-style {
  border: 2px solid rgba(0, 0, 0, 0.7) !important;
  /* color: black; */
  font-weight: bold;
  margin: 0 0.3rem;
  border-radius: 50%;
}

.math-button-style[disabled] {
  border-color: rgba(0, 0, 0, 0.3)  !important;
}

.math-button-style--small {
  width: 1.1em;
  height: 1.1em;
}

/*
.product-dialog__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.4rem 2rem 1.5rem;
  background: rgba(255,255,255,0.8);
} */