/*=========================================
   Global
--=========================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.links-inherit-color a {
  color: inherit;
}

/**
 * Login Page
 */
.login__loading-button .MuiLoadingButton-loadingIndicator {
  color: #fff;
}

/**
 * Categories
 */

.categories-wrap .MuiImageListItem-root {
  border-radius: 15px;
  overflow: hidden;
}

.categories-wrap .MuiImageListItemBar-title {
  font-size: 1.3rem;
  white-space: normal;
}

/*=========================================
   The Cart
--=========================================*/
.cart-items {
  padding-bottom: 9em;
}

.cart-confirm-order-wrapper {
  position: fixed;
  bottom: 5rem;
  left: 0;
  right: 0;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: content-box;
}

.cart-confirm-order {
  padding: 1em;
  background: #fff;
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 -4px 10px rgba(225, 225, 225, 0.5);
}

.cart-item__title {
  font-size: 1.1rem;
  margin: 0 0 0.5em;
}

/**
 * Footer
 */
 .footer-wrap a,
 .footer-wrap a:visited {
  color: inherit;
  text-decoration: none;
}
